<div mat-dialog-title>SignUp</div>
<div mat-dialog-content>
  <div class="wrapper">
    <div id="formContent">
      <form [formGroup]="signUpForm" (ngSubmit)="signup()">
        <div class="row m-2">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" matInput formControlName="firstName" placeholder="Ex. John">
              <mat-error *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName')">
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" placeholder="Ex. Eaton">
              <mat-error *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')">
                LastName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. john@example.com">
              <mat-error *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row m-2">          
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input type="text" matInput formControlName="phoneNumber" placeholder="Ex. 8293029312">
              <mat-error
                *ngIf="signUpForm.controls['phoneNumber'].dirty && signUpForm.hasError('required', 'phoneNumber')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Aadhar Card Number</mat-label>
              <input type="text" matInput formControlName="aadharCardNo" placeholder="Ex. 0000000000000">
              <mat-error
                *ngIf="signUpForm.controls['aadharCardNo'].dirty && signUpForm.hasError('required', 'aadharCardNo')">
                Aadhar Card Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Ex. 08/08/1998">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="signUpForm.controls['dateOfBirth'].dirty && signUpForm.hasError('required', 'dateOfBirth')">
                Date of Birth is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-12">
            <mat-radio-group formControlName="gender" aria-label="Gender">
              <mat-label><b>Gender</b></mat-label>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>      
        <div class="row m-2">
          <div class="col-12">
            <mat-radio-group formControlName="userType">
              <mat-label><b>Register as a ?</b></mat-label>
              <mat-radio-button value="2" (change)="radioButtonChanged($event.value);">FLat Owner</mat-radio-button>
              <mat-radio-button value="3" (change)="radioButtonChanged($event.value);">Staff</mat-radio-button>
              <mat-radio-button value="5" (change)="radioButtonChanged($event.value);"> Visitor</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row m-2" *ngIf="isFlatOwner">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Flat Number</mat-label>
              <input type="text" matInput formControlName="flatNumber" placeholder="Ex. 54">
              <mat-error *ngIf="signUpForm.controls['flatNumber'].dirty">
                Flat Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Number of Senior Citizens</mat-label>
              <input type="text" matInput formControlName="sCitizens" placeholder="Ex. 2">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Number of pets</mat-label>
              <input type="text" matInput formControlName="pets" placeholder="Ex. 2">
            </mat-form-field>
          </div>
        </div>
        <div class="row m-2" *ngIf="isStaff">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Flat Number</mat-label>
              <input type="number" matInput formControlName="flatNoForPass" placeholder="Ex. john123">
              <mat-error *ngIf="signUpForm.controls['flatNoForPass'].dirty">
                Flat Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-radio-group formControlName="staffShift" aria-label="Shift">
              <mat-label><b>Shift ?</b></mat-label>
              <mat-radio-button value="day">Day</mat-radio-button>
              <mat-radio-button value="night">Night</mat-radio-button>              
            </mat-radio-group>
          </div>
        </div>
        <div class="row m-2" *ngIf="isVisitor">
          <div class="col-12">
            <mat-radio-group>
              <mat-label><b>Would you like to generate a pass ?</b></mat-label>
              <mat-radio-button value="yes" (change)="generatePass($event.value);">Yes</mat-radio-button>
              <mat-radio-button value="no" (change)="generatePass($event.value);">No</mat-radio-button>           
            </mat-radio-group>
          </div>
        </div>
        <div class="row m-2" *ngIf="isVisitor">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>In Time</mat-label>
              <input type="time" [defaultValue]="DefaultTime" matInput formControlName="inTime" placeholder="Ex. john123">
            </mat-form-field>
            <mat-error *ngIf="signUpForm.controls['inTime'].dirty">
              In Time is <strong>required</strong>
            </mat-error>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Out Time</mat-label>
              <input type="time" matInput formControlName="outTime" placeholder="Ex. john123">
            </mat-form-field>
            <mat-error *ngIf="signUpForm.controls['outTime'].dirty">
              Out Time is <strong>required</strong>
            </mat-error>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Vehicle Number</mat-label>
              <input type="text" matInput formControlName="vehicleNo" placeholder="Ex. MH12HJ5467">
            </mat-form-field>
            <mat-error *ngIf="signUpForm.controls['vehicleNo'].dirty">
              Vehicle No is <strong>required</strong>
            </mat-error>
          </div>
        </div>
        <div class="row m-2" *ngIf="isVisitor" >
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Purpose of Visit</mat-label>
              <input type="text" matInput formControlName="visitingPurpose" placeholder="Ex. Visiting a relative">
            </mat-form-field>
            <mat-error *ngIf="signUpForm.controls['visitingPurpose'].dirty">
              Visiting Purpose is <strong>required</strong>
            </mat-error>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Flat No.</mat-label>
              <input type="text" matInput formControlName="flatNoForVisitor" placeholder="Ex. 54">
              <mat-error *ngIf="signUpForm.controls['flatNoForVisitor'].dirty">
                Flat No. is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row m-2" *ngIf="isGeneratePass">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Expiry Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="expiryDate" placeholder="Ex. 08/08/1998">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="signUpForm.controls['expiryDate'].dirty">
                Expiry Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
        </div>
        <div class="row m-2">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" placeholder="Ex. john123">
              <mat-error *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="m-2 row">
          <div class="col-12">
            <input type="submit" class="btn btn-primary" value="SignUp" />
          </div>
        </div>
        <div class="m-2 row">
          <div class="col-12">
            <button mat-raised-button (click)="CloseSignUoDialog()" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  
</div>