<div class="wrapper">
<div id="formContent">
    <div class="text-center">
        <img style="height: 100px;" src="../../../assets/Logo.JPG"/>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row m-2">
            <input formControlName="username" type="text" placeholder="Username"/>
        </div>
        <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger">Username is required</small>
        <div class="row m-2">
            <input formControlName="password" type="password" placeholder="Password"/>
        </div>
        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">Password is required</small>
        <div class="row m-2">
            <input type="submit" class="btn btn-primary"  value="Login"/>
        </div>
        <div class="row m-2 ">
            <button>Sign Up</button>
        </div>
    </form>
</div>
</div>